@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'config';
@import 'loading';
@import 'btn';
@import 'form';
@import 'navbar';
@import 'characters';
@import 'comics';
@import 'single-comic';

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $clr-blue-2;
    color: $clr-white;
}

body {
    min-height: 100vh;
    background: linear-gradient($clr-primary 0%, $clr-primary-3 100%);
    color: $clr-white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

h1,
h2 {
    line-height: 1.25;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.section {
    margin: 4rem 0;
    &-center {
        max-width: $max-content-width;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        margin-bottom: 4rem;
        text-align: center;
        font-size: 1.75rem;
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
}

.items-counter {
    text-align: right;
    text-transform: capitalize;
    letter-spacing: $spacing;
    margin: 4rem 0;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $clr-white;
    span {
        color: $clr-yellow;
    }
}

.btn-container {
    @include flex-between;
    flex-flow: row wrap;
    gap: 1rem;
}

.hide {
    display: none;
}

@keyframes surprise {
    100% {
        transform: translateX(0);
    }
}
